@model IEnumerable<OnlineMall.Models.ShoppingItem>
@{
    ViewData["Title"] = "All items";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>All items</h1>

<div>
    @foreach (var item in Model)
    {
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <img src="@item.ImgPath" class="card-img-top" alt="Green jacket" />
                <h5 class="card-title">@Html.DisplayFor(modelItem => item.ShortName)</h5>
                <p class="card-text">@Html.DisplayFor(modelItem => item.FullName)</p>
                <p class="card-text">@Html.DisplayFor(modelItem => item.Price)</p>
                <a href="#" class="btn btn-primary">Add to basket</a>
            </div>
        </div>
    }
</div>

